* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamescreen {
    position: relative;
    width: 768px;
    height: 432px;
    left: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: brown;
}

#ball, #player, .block__single {
    position: absolute;
}

#blocks {
    width: 100%;
    height: 100%;
}

.block__single {
    background-color: orange;
    border-radius: 4px;
    width: 100px;
    height: 20px;

    top: 90px;
    left: 334px;
}

#ball {
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    top: 340px;
    left: 374px;
}

#player {
    background-color: blue;
    border-radius: 4px;
    width: 100px;
    height: 20px;

    top: 390px;
    left: 334px;
}